*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

.hide{
    display: none;
}

body{
    height: 100vh;
    background: linear-gradient(-0.4turn, #BB00FF, #190361);
    display: flex;
    justify-content: center;
    align-items: center;
}

body div {
    margin-top: -12rem;
    background-color: #fff;
    padding: 4.8rem 6.4rem;
    border-radius: .5rem;
    box-shadow: 0 .2rem 5rem rgba(0, 0, 0, 0.8);
    width: min(42.8rem, 90%);
    text-align: center;
}

h2{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
    color: #34355B;
    margin-bottom: 1.6rem;
}

p {
    font-family: "DM Sans", sans-serif;
    font-size: 1.5rem;
    color: #34355B;
    margin-bottom: 2rem;
}

.screen1 img{
    cursor: pointer;
}

.screen1 img:hover{
    cursor: pointer;
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake{
    10%, 90%{
        transform: translate3d(-1px, 1px, 0)
    }
    20%, 80%{
        transform: translate3d(0px, 4px, 1px)
    }
    30%, 50%, 70%{
        transform: translate3d(1px, 2px, 0px);
    }
    40%, 60%{
        transform: translate3d(-1px, -2px, 1px)
    }
}

.cursive-text{
    font-family: "Dancing Script", cursive;
    font-size: 2.4rem;
    color: #000;

    background-color: #E4EDF1;
    padding: 1rem;
    box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);

    animation-name: showphrase;
    animation-duration: 2s;
}

@keyframes showphrase {
    0%{
        transform: translateY(20rem) scale(0);
    }
    100%{
        transform: translateY(0rem) scale(1);
    }
}

button{
    margin-top: 2rem;
    background-color: #FF9500;
    padding: 1.6rem;
    border-radius: .4rem;
    border: none;

    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 15px;

    cursor: pointer;
    transition: 0.4s;
}

button:hover{
    background-color: #db8308;
}
